<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

	<connectionStrings>
		<add name="connection_str"
			  providerName="System.Data.SqlClient"
		 connectionString="Data Source=DESKTOP-TQR4MJK\SQLEXPRESS;Initial Catalog=weatherApp;Integrated Security=True;Pooling=False"/>


	</connectionStrings>
	
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>    